/* Colours
Languid lavendar DBCBD8
Cyber Grape 564787
Azure x 11 Web Color F2FDFF
*/


#container {
    display: flex;
    align-items:  center;
    flex-direction: column;
}

body {
    background-color: #DBCBD8;
    color: #564787;
}

#rock, #paper, #scissors{
    background-color: #564787;
    border: none;
    color: #F2FDFF;
    padding: 15px 30px;
    text-decoration: none;
}

#score {
    display: flex;
    gap: 10px;
}

#player, #computer {
    padding: 15px 30px;
}